<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   <link rel="stylesheet" href="../static/emailVerificationPage.css">
</head>
<body>
    <main>
        <h1>Welcome!</h1>
        <p>You have activated your account. Please check your inbox (and your spam folder) you should have received an amil with a activation link</p>
        <p>Didn't get the email? <a href="#">Resend</a></p>
    </main>
</body>
</html>