<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/userLoginPage.css"> 
</head>
<body>
    <h1><a href="#">Go Home</a></h1>
    <div class="wrapper">
        <main>
            <div class="login-container">
                <h2>Login</h2>
                <p>Sign into your account</p>
                <form id="loginForm"  action="" method="post">
                    <div class="input-container">
                        <div class="input-inner">
                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                            <label for="email">Email address</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="input-inner">
                            <input type="password" id="password" name="password" placeholder="Enter a password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button type="submit">Log In</button>
    
                    <div id="forgotPasswordContainer">
                        <a href="#">Forgotten Password?</a>
                    </div>
                </form>
                <p>Don't have an account? <a href="userRegistration.html">Register Now</a></p>
            </div>
        </main>
    </div>
    
</body>
</html>
